* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth; }

a {
  text-decoration: none; }

a:link, a:visited {
  color: #ffffff; }

header {
  display: flex;
  height: 100vh;
  position: relative;
  align-items: center;
  flex-direction: column; }
  header .header__background:before {
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url(../assets/images/mozaico/mozaico-7.png);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -2; }
  header .header__background:after {
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background: radial-gradient(63.65% 201.15% at -1.28% 64.2%, rgba(11, 32, 64, 0.85) 0%, rgba(35, 50, 64, 0) 100%);
    mix-blend-mode: multiply;
    z-index: -1; }
  header .company-header {
    width: 100%;
    background-color: #020203;
    display: flex;
    height: 6.4rem;
    padding: 0 calc(8.2rem + 1.5625vw);
    align-items: center; }
    header .company-header .company-logo {
      flex: 14rem; }
    header .company-header a > img {
      width: 6.6rem; }
    header .company-header .company-functions {
      display: flex;
      justify-content: space-between;
      width: 100%; }
      header .company-header .company-functions .company-nav {
        display: flex;
        gap: 4rem;
        align-items: center; }
        header .company-header .company-functions .company-nav a {
          color: #ffffff;
          font-size: 1.4rem;
          font-weight: 500;
          position: relative; }
          header .company-header .company-functions .company-nav a::after {
            content: '';
            width: 100%;
            position: absolute;
            bottom: -1px;
            left: 0;
            height: 1px;
            border-bottom: 1px solid #ffffff;
            transform: scale(0, 1);
            transition: .4s; }
          header .company-header .company-functions .company-nav a:hover::after {
            transform: scale(1, 1); }
        header .company-header .company-functions .company-nav img {
          margin-left: 1.2rem;
          width: 1rem; }
      header .company-header .company-functions .account-functions {
        display: flex;
        align-items: center;
        gap: 1.6rem; }
        header .company-header .company-functions .account-functions .btn-black {
          font-size: 1.4rem;
          font-weight: 500;
          padding: .6rem 1.6rem;
          border-radius: 4px;
          cursor: pointer;
          line-height: 2.1rem;
          background-color: #020203;
          border: 1px solid #ffffff;
          color: #ffffff;
          z-index: 1;
          position: relative;
          overflow: hidden; }
          header .company-header .company-functions .account-functions .btn-black:before, header .company-header .company-functions .account-functions .btn-black:after {
            background-color: #ffffff;
            content: '';
            position: absolute;
            z-index: -1;
            height: 100%;
            left: -70%;
            top: 0;
            transform: skew(50deg);
            transition: .6s;
            transform-origin: top left;
            width: 0%; }
          header .company-header .company-functions .account-functions .btn-black:hover {
            color: #020203; }
          header .company-header .company-functions .account-functions .btn-black:hover::after {
            width: 170%;
            height: 100%; }
        header .company-header .company-functions .account-functions .btn-white {
          font-size: 1.4rem;
          font-weight: 500;
          padding: .6rem 1.6rem;
          border-radius: 4px;
          cursor: pointer;
          line-height: 2.1rem;
          color: #020203;
          border: 1px solid #020203;
          z-index: 1;
          position: relative;
          overflow: hidden; }
          header .company-header .company-functions .account-functions .btn-white:before, header .company-header .company-functions .account-functions .btn-white:after {
            background-color: #020203;
            content: '';
            position: absolute;
            z-index: -1;
            height: 100%;
            left: -70%;
            top: 0;
            transform: skew(50deg);
            transition: .6s;
            transform-origin: top left;
            width: 0%; }
          header .company-header .company-functions .account-functions .btn-white:hover {
            color: #ffffff; }
          header .company-header .company-functions .account-functions .btn-white:hover::after {
            width: 170%;
            height: 100%; }
          header .company-header .company-functions .account-functions .btn-white:hover {
            border: 1px solid white; }
  header .game-header {
    width: 90%;
    z-index: 1000; }
    header .game-header.sticky {
      position: fixed;
      top: 0; }
    header .game-header .game-header-content {
      width: 100%;
      border-radius: .4rem;
      padding-top: 2.4rem;
      display: flex; }
      header .game-header .game-header-content .nav__game-logo {
        background-color: #394043;
        padding: 1.2rem 1.6rem;
        border-radius: .4rem 0 0 .4rem; }
        header .game-header .game-header-content .nav__game-logo img {
          width: 2.5rem; }
      header .game-header .game-header-content .nav__game-links {
        width: 100%;
        background-color: #F2F1ED;
        display: flex;
        justify-content: space-between;
        padding: 0 2.4rem; }
        header .game-header .game-header-content .nav__game-links .nav__links, header .game-header .game-header-content .nav__game-links .nav__product-links {
          display: flex;
          align-items: center; }
        header .game-header .game-header-content .nav__game-links .nav__links {
          gap: 1.6rem; }
          header .game-header .game-header-content .nav__game-links .nav__links a:has(img) img {
            padding-left: .8rem; }
        header .game-header .game-header-content .nav__game-links .nav__product-links {
          display: flex;
          gap: 1.9rem; }
          header .game-header .game-header-content .nav__game-links .nav__product-links .nav__link::before {
            padding-right: 1.9rem; }
        header .game-header .game-header-content .nav__game-links a {
          color: #394043;
          font-size: 1.3rem;
          font-weight: 500;
          line-height: 2rem;
          text-transform: uppercase;
          position: relative;
          display: flex;
          align-items: center;
          position: relative; }
          header .game-header .game-header-content .nav__game-links a::after {
            content: '';
            width: 100%;
            position: absolute;
            bottom: -1px;
            left: 0;
            height: 1px;
            border-bottom: 1px solid #394043;
            transform: scale(0, 1);
            transition: .4s; }
          header .game-header .game-header-content .nav__game-links a:hover::after {
            transform: scale(1, 1); }
        header .game-header .game-header-content .nav__game-links .nav__link {
          display: flex; }
          header .game-header .game-header-content .nav__game-links .nav__link.off {
            display: none; }
        header .game-header .game-header-content .nav__game-links .nav_link_responsive button {
          padding: 1rem 1.4rem;
          background-color: rgba(186, 192, 194, 0.25);
          transition: 200ms;
          border-radius: .4rem;
          cursor: pointer; }
          header .game-header .game-header-content .nav__game-links .nav_link_responsive button:hover {
            background-color: rgba(186, 192, 194, 0.45); }
        header .game-header .game-header-content .nav__game-links .nav_link_responsive img {
          width: 1rem; }
        header .game-header .game-header-content .nav__game-links .nav_link_responsive.hide {
          display: none; }
        header .game-header .game-header-content .nav__game-links .nav__link + .nav__link::before {
          content: '';
          width: 1px;
          height: auto;
          border-left: 1px solid #BAC0C2;
          margin: 3px 0;
          padding-right: 1.6rem; }
      header .game-header .game-header-content .nav-game__buy-button {
        background-color: #EF7D00;
        color: #ffffff;
        font-weight: bold;
        line-height: 2rem;
        font-size: 1.3rem;
        text-transform: uppercase;
        padding: 1.4rem 3.6rem;
        white-space: nowrap;
        border-radius: 0 .4rem .4rem 0;
        cursor: pointer;
        transition: 600ms; }
        header .game-header .game-header-content .nav-game__buy-button:hover {
          filter: brightness(1.1); }
  header .game-container {
    width: 100%;
    padding: calc(.2rem + 10vh) calc(8.2rem + 1.5625vw);
    display: flex;
    height: calc(100% - 140px); }
    header .game-container .game-container__info {
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      header .game-container .game-container__info .game-container__buy {
        display: flex;
        flex-direction: column;
        gap: 3.2rem; }
      header .game-container .game-container__info button {
        background-color: #EF7D00;
        color: white;
        position: relative;
        clip-path: polygon(10% 0%, 100% 0, 90% 100%, 0% 100%);
        padding: 1.5rem 5.9rem;
        line-height: 2.7rem;
        cursor: pointer;
        font-family: "Poppins", sans-serif;
        white-space: nowrap;
        text-transform: uppercase;
        font-weight: bold;
        z-index: 1;
        position: relative;
        overflow: hidden;
        font-size: 1.8rem; }
        header .game-container .game-container__info button:before, header .game-container .game-container__info button:after {
          background-color: #ffffff;
          content: '';
          position: absolute;
          z-index: -1;
          height: 100%;
          left: -70%;
          top: 0;
          transform: skew(50deg);
          transition: .6s;
          transform-origin: top left;
          width: 0%; }
        header .game-container .game-container__info button:hover {
          color: #EF7D00; }
        header .game-container .game-container__info button:hover::after {
          width: 170%;
          height: 100%; }
      header .game-container .game-container__info svg {
        width: calc(42.9rem + 10vw);
        max-width: 621px; }
        header .game-container .game-container__info svg path {
          fill: white;
          fill-opacity: 0; }
        header .game-container .game-container__info svg polygon {
          fill: white;
          fill-opacity: 0; }
      header .game-container .game-container__info .pathOrange {
        fill: #ef7d00; }
    header .game-container .game-container__platforms {
      display: flex;
      gap: 4rem; }
    header .game-container .game-container__preview {
      width: 100%;
      display: flex;
      align-items: flex-end;
      justify-content: flex-end; }
      header .game-container .game-container__preview > div {
        position: relative; }
        header .game-container .game-container__preview > div .img__preview {
          -webkit-box-shadow: 0px 11px 10px 1px rgba(2, 2, 3, 0.5);
          -moz-box-shadow: 0px 11px 10px 1px rgba(2, 2, 3, 0.5);
          box-shadow: 0px 11px 10px 1px rgba(2, 2, 3, 0.5); }
          header .game-container .game-container__preview > div .img__preview:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: radial-gradient(58.29% 58.29% at 50% 28.8%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.46) 100%);
            z-index: 3; }
          header .game-container .game-container__preview > div .img__preview img {
            height: 18rem; }
            header .game-container .game-container__preview > div .img__preview img.static-preview {
              position: relative;
              z-index: 2;
              transition: .5s; }
            header .game-container .game-container__preview > div .img__preview img.gif-preview {
              position: absolute;
              visibility: visible;
              opacity: 1;
              top: 0;
              left: 0;
              z-index: 0; }
        header .game-container .game-container__preview > div:hover .static-preview {
          opacity: 0; }
        header .game-container .game-container__preview > div button {
          width: 5.1rem;
          padding: 1.6rem 2rem;
          background: linear-gradient(136.72deg, rgba(7, 7, 10, 0.86) 19.22%, rgba(15, 16, 22, 0.5) 76.59%);
          border-radius: 100%;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          cursor: pointer;
          z-index: 4; }
          header .game-container .game-container__preview > div button .startButton:before {
            content: '';
            padding: .2rem 1.3rem;
            background-color: #EF7D00;
            clip-path: polygon(50% 50%, 0% 0, 0 100%); }

.news-container {
  display: flex;
  padding: 6rem calc(8.2rem + 1.5625vw) 0;
  font-family: "Roboto Condensed", sans-serif;
  justify-content: center;
  gap: calc(1rem + 1.5625vw);
  overflow: hidden; }
  .news-container .news__person-container {
    display: flex;
    align-items: center; }
    .news-container .news__person-container .news__person-info h3 {
      text-transform: uppercase;
      font-style: italic;
      color: #00AEFF;
      font-size: 1.8rem;
      line-height: 2.1rem; }
    .news-container .news__person-container .news__person-info h2 {
      font-style: italic;
      font-size: 3.2rem;
      line-height: 3.8rem;
      text-transform: uppercase;
      padding-bottom: 1.6rem;
      color: #002550; }
    .news-container .news__person-container .news__person-info p {
      border-left: 3px solid #00AEFF;
      padding-left: .8rem;
      font-size: 1.4rem;
      line-height: 1.6rem;
      color: #51595C; }
    .news-container .news__person-container .news__person-info button {
      background-color: #0373BE;
      color: white;
      position: relative;
      clip-path: polygon(10% 0%, 100% 0, 90% 100%, 0% 100%);
      padding: 1.5rem 5.9rem;
      line-height: 2.7rem;
      cursor: pointer;
      font-family: "Poppins", sans-serif;
      white-space: nowrap;
      text-transform: uppercase;
      font-weight: bold;
      transition: 600ms;
      font-size: 1.8rem;
      margin-top: 3.2rem; }
      .news-container .news__person-container .news__person-info button:hover {
        filter: brightness(120%);
        transform: translateY(-10%); }
    .news-container .news__person-container .news__person-background {
      position: relative; }
      .news-container .news__person-container .news__person-background img {
        width: calc(7.2rem + 15vw); }
      .news-container .news__person-container .news__person-background:after {
        content: '';
        width: 50%;
        height: calc(100% + 20rem);
        position: absolute;
        top: -15rem;
        right: 0;
        background: linear-gradient(180deg, #4E99B8 0%, #91D7D5 100%);
        z-index: -10; }
  .news-container .news___new-game-container {
    display: flex;
    align-items: center; }
    .news-container .news___new-game-container .news__new-game-info {
      display: flex;
      flex-direction: column;
      align-items: center; }
      .news-container .news___new-game-container .news__new-game-info h2 {
        font-style: italic;
        font-size: 1.8rem;
        text-transform: uppercase;
        color: #394043;
        padding-bottom: 1.6rem; }
      .news-container .news___new-game-container .news__new-game-info div {
        padding-top: 3.2rem; }
        .news-container .news___new-game-container .news__new-game-info div button {
          background-color: #EF7D00;
          color: white;
          position: relative;
          clip-path: polygon(10% 0%, 100% 0, 90% 100%, 0% 100%);
          padding: 1.5rem 5.9rem;
          line-height: 2.7rem;
          cursor: pointer;
          font-family: "Poppins", sans-serif;
          white-space: nowrap;
          text-transform: uppercase;
          font-weight: bold;
          font-size: 1.8rem;
          line-height: 2.7rem;
          transition: 600ms; }
          .news-container .news___new-game-container .news__new-game-info div button:hover {
            filter: brightness(120%);
            transform: translateY(-10%); }
    .news-container .news___new-game-container .news__new-game-background {
      position: relative; }
      .news-container .news___new-game-container .news__new-game-background img {
        width: calc(8rem + 15vw); }
      .news-container .news___new-game-container .news__new-game-background:before {
        content: "";
        position: absolute;
        top: -20rem;
        width: 100rem;
        height: calc(100% + 22rem);
        left: 40px;
        background: linear-gradient(231.53deg, #F57D4C 55.19%, #F1BE4A 94.79%);
        clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);
        z-index: -10; }

.heros-container {
  padding: 12rem calc(8.2rem + 1.5625vw) 0;
  font-family: "Roboto Condensed", sans-serif; }
  .heros-container .hero-header {
    width: 100%;
    display: flex;
    justify-content: center;
    white-space: nowrap;
    gap: 47rem; }
    .heros-container .hero-header h2 {
      font-style: italic;
      font-size: 5.2rem;
      line-height: 6.1rem;
      text-transform: uppercase;
      color: #002550; }
    .heros-container .hero-header button {
      background-color: #EF7D00;
      color: white;
      position: relative;
      clip-path: polygon(10% 0%, 100% 0, 90% 100%, 0% 100%);
      padding: 1.5rem 5.9rem;
      line-height: 2.7rem;
      cursor: pointer;
      font-family: "Poppins", sans-serif;
      white-space: nowrap;
      text-transform: uppercase;
      font-weight: bold;
      transition: 600ms;
      font-size: 1.8rem;
      line-height: 2.7rem; }
      .heros-container .hero-header button:hover {
        filter: saturate(120%);
        transform: translateY(-10%); }
  .heros-container .hero-content {
    display: flex;
    padding-top: 6rem;
    justify-content: center;
    align-items: flex-end;
    gap: calc(3rem + 1.5625rem); }
    .heros-container .hero-content .hero-selection .type-hero {
      display: flex;
      gap: 1.8rem; }
      .heros-container .hero-content .hero-selection .type-hero button {
        background-color: #838B8F;
        color: white;
        position: relative;
        clip-path: polygon(10% 0%, 100% 0, 90% 100%, 0% 100%);
        padding: 1.5rem 5.9rem;
        line-height: 2.7rem;
        cursor: pointer;
        font-family: "Poppins", sans-serif;
        white-space: nowrap;
        text-transform: uppercase;
        font-weight: bold;
        font-family: "Roboto Condensed", sans-serif;
        display: flex;
        align-items: center;
        gap: .6rem; }
        .heros-container .hero-content .hero-selection .type-hero button svg {
          color: #ffffff;
          width: 2.5rem; }
      .heros-container .hero-content .hero-selection .type-hero button.selected {
        background-color: #002550; }
    .heros-container .hero-content .hero-selection .hero-mozaico {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(4, 1fr);
      gap: 2rem 2.4rem;
      padding-top: 4rem; }
      .heros-container .hero-content .hero-selection .hero-mozaico button {
        cursor: pointer; }
      .heros-container .hero-content .hero-selection .hero-mozaico .select-hero-btn {
        overflow: hidden; }
        .heros-container .hero-content .hero-selection .hero-mozaico .select-hero-btn img {
          transition: .4s; }
          .heros-container .hero-content .hero-selection .hero-mozaico .select-hero-btn img:hover {
            transform: scale(1.13); }
      .heros-container .hero-content .hero-selection .hero-mozaico .all-heros-btn {
        grid-column: 4 / 6;
        grid-row: 4;
        background-color: #EF7D00;
        color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: .9rem;
        font-size: 1.589rem;
        font-weight: bold;
        font-style: italic;
        line-height: 1.9rem;
        text-transform: uppercase;
        cursor: pointer;
        font-family: "Roboto Condensed", sans-serif;
        z-index: 1;
        position: relative;
        overflow: hidden; }
        .heros-container .hero-content .hero-selection .hero-mozaico .all-heros-btn img {
          width: 2.5rem; }
        .heros-container .hero-content .hero-selection .hero-mozaico .all-heros-btn:before, .heros-container .hero-content .hero-selection .hero-mozaico .all-heros-btn:after {
          background-color: #394043;
          content: '';
          position: absolute;
          z-index: -1;
          height: 100%;
          left: -70%;
          top: 0;
          transform: skew(50deg);
          transition: .6s;
          transform-origin: top left;
          width: 0%; }
        .heros-container .hero-content .hero-selection .hero-mozaico .all-heros-btn:hover {
          color: #ffffff; }
        .heros-container .hero-content .hero-selection .hero-mozaico .all-heros-btn:hover::after {
          width: 170%;
          height: 100%; }
      @media (max-width: 1024px) {
        .heros-container .hero-content .hero-selection .hero-mozaico {
          gap: calc(.8rem + 1vw) calc(1.2rem + 1vw); }
          .heros-container .hero-content .hero-selection .hero-mozaico > img {
            width: calc(2.4rem + 6vw); } }
    .heros-container .hero-content .hero-preview {
      position: relative;
      height: 60rem;
      display: flex;
      align-items: center; }
      .heros-container .hero-content .hero-preview .hero-about {
        position: absolute;
        bottom: -1rem; }
        .heros-container .hero-content .hero-preview .hero-about h2 {
          color: #EF7D00;
          font-weight: bold;
          font-style: italic;
          text-transform: uppercase;
          line-height: 3.7rem;
          font-size: 3.2rem; }
        .heros-container .hero-content .hero-preview .hero-about p {
          color: #00AEFF;
          font-weight: 300;
          font-style: italic;
          font-size: 2.4rem;
          line-height: 2.8rem;
          text-transform: uppercase;
          display: flex;
          align-items: center;
          gap: .6rem; }
          .heros-container .hero-content .hero-preview .hero-about p img {
            width: 2rem; }
      .heros-container .hero-content .hero-preview img {
        width: calc(11.2rem + 15vw);
        max-width: 40rem; }

footer {
  width: 100%;
  padding: 5rem 0; }

@media (max-width: 1280px) and (min-width: 1024px) {
  .heros-container .hero-header {
    gap: 0rem;
    justify-content: space-between; } }
